In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [30]:
df = pd.read_csv("activityData.csv")
df

       Unnamed: 0   index      source timestamp         values     activity
0               0   14889  heart_rate   49:01.9  ['65.0', '1']  Video games
1               1   14890  heart_rate   49:01.9  ['64.0', '1']  Video games
2               2   14891  heart_rate   49:01.9  ['64.0', '0']  Video games
3               3   14892  heart_rate   49:01.9  ['65.0', '0']  Video games
4               4   14893  heart_rate   49:01.9  ['64.0', '0']  Video games
...           ...     ...         ...       ...            ...          ...
56046       56046  137190  heart_rate   13:17.3  ['53.0', '1']  Video games
56047       56047  137191  heart_rate   13:17.3  ['52.0', '1']  Video games
56048       56048  137192  heart_rate   13:17.3  ['53.0', '1']  Video games
56049       56049  137193  heart_rate   13:17.3  ['54.0', '1']  Video games
56050       56050  137194  heart_rate   13:19.6  ['53.0', '1']  Video games

[56051 rows x 6 columns]

In [42]:
# for i in range(len(df["values"])):
#     df["values"] = df["values"][i][2:]

df["values"][][2:6]

''

In [35]:
df1 = df[["values","activity"]]

df1

      values     activity
0          [  Video games
1          [  Video games
2          [  Video games
3          [  Video games
4          [  Video games
...      ...          ...
56046      [  Video games
56047      [  Video games
56048      [  Video games
56049      [  Video games
56050      [  Video games

[56051 rows x 2 columns]

In [33]:
kmeans = KMeans(n_clusters=3, random_state=0)
kmeans.fit(df1)

ValueError: could not convert string to float: 'values'